.container {
    display: grid;
    grid-template-columns: 70% 35%;
    grid-template-rows: auto auto auto;
    grid-gap: 20px;
    grid-template-areas: 
        "top top"
        "left right"
        "bottom bottom";
    justify-content: center;
    width: 70vw;
    padding: 10px;
}

#otherarticle {
    grid-area: right; 
}
#otherarticle .wrapper{
    flex-direction: column;
    gap: 10px;
}
#otherarticle .wrapper .card{
    width: 100%;
    padding: 10px;
}
#otherarticle  .wrapper .card .img{
    width: 100%;
    height: 35%;
}
#otherarticle  .wrapper .card img{
    width: 100%;
   height: 500px;
}
#titleofarticle {
    grid-area: top;
    font-size: 24px;
    text-align: left;
    font-weight: bold;
}
#titleofarticle h1{
    font-size: 65px;
    margin-bottom: 10px;
    font-weight: 800;
    color: #47a9bc;
}
#titleofarticle span{
    font-size: 18px;
    color: #777777;
    font-weight: 600;
    margin-bottom: 20px;
}
#titleofarticle h3{
    font-size: 40px;
    color: black;
    font-weight: bold;
    margin-bottom: 20px;
}
#titleofarticle .mainimg{
    width: 100%;
}
#titleofarticle img{
    width: 100%;
}
#titleofarticle figcaption{
    font-size: 12px;
    color: #777777;
}
#bodyofarticle {
    grid-area: left;
    text-align: justify;
    font-size: 16px;
    line-height: 1.5;
    padding: 20px;
}
#bodyofarticle h3{
    font-size: 34px;
    margin-bottom: 10px;
    color: #333;
    font-weight: bold;
    text-align: left;
}
#bodyofarticle p{
    margin-bottom: 25px;
    line-height: 1.5;
    font-size: 22px;
    color: #666;
    text-align: justify;
}
#bodyofarticle img{
    width: 100%;
 
}
#bodyofarticle figcaption{
    font-size: 12px;
    color: #777777;
    margin-bottom: 20px;
}
#footer {
    grid-area: bottom;
    text-align: center;
    font-size: 14px;
    color: #d92626;
    padding: 20px;
}
figure{
    margin-bottom: 20px;
    margin-top: 20px;
}
.figures{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    align-items: center;
}
.figures figure img{
    width: 100%;
    height: 300px;
}
@media (max-width: 768px) {
    .container {
        grid-template-columns: 70% 35%;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: 
            "top top"
            "left left"
            "right right"
            "bottom bottom";
    } 
}
